<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>

<body>
    search
    <form action="/searchList" method='post'>
        <input id="content" type="text" name="searchText" value=''>
        <input id="send" vtype="submit" value="送出">
    </form>
    <script src="js/all.js"></script>  
</body>

</html>